/* body {
  color: #fcfdff;
  background-color: #0c2a4a;
} */

/* body {
  color: #fcfdff;
  background-color: #0c2a4a;
} */

strong {
  font-weight: 500;
  color: #a6e22e;
}

.slide-content {
  overflow: visible;
  max-width: 60ch;
}

.slide {
  padding-top: 10dvh;
  padding-bottom: 10dvh;
  padding-left: 5dvw;
  padding-right: 5dvw;
}
